body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: white;
    color: rgb(5, 5, 77);
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed; 
    top: 0px; 
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    height: 50px;

}

.header-left h1 {
    margin: 10px;
    white-space: nowrap;
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 90px;
    
}

.header-right p, .header-right a {
    margin: 0 20px;
    color: rgb(5,5,77);
    text-decoration: none;
    font-size: 20px;
}

.header-right a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

.center-image {
    width: 80%; 
    max-width: 550px; 
    height: 550px; 
    padding-left: 180px;
    padding-top: 150px;
}

.image-text {
    position: absolute;
    top: 50%; 
    right: 200px; 
    transform: translateY(-50%);
    padding: 90px;
    background-color: white; 
    color: rgb(5,5,77);
    font-size: 20px;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
    word-wrap: break-word; 
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;

}

.image-text p {
    margin: 0;
    font-size: 20px;
}

.gallery {
    margin: 40px 0;
}

.gallery h2 {
    color: #333; 
    font-size: 33px;
    margin-top: 30px; 
    text-align: center; 
    margin-bottom: 30px;
}

.image-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr); 
}

.image-grid img {
    width: 100%;
    height: 500px; 
    object-fit: cover; 
    border-radius: 10px;
}


footer {
    background-color: #f0f0f0;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-right: 50px;
}

.contact-details, .address {
    width: 45%;
}

.contact-details h3, .address h3 {
    margin-bottom: 10px;
    text-align: center;
}

.phone-symbol, .email-symbol {
    font-size: 20px;
    margin-right: 5px;
}


@media screen and (max-width: 576px) {
    header {
        flex-direction: column;
        height: auto;
        padding-bottom: 40px;
    }

    .header-left,
    .header-right {
        width: 100%;
        text-align: center;
    }

    .header-right {
        margin-top: 10px;
    }

    .center-image {
        width: 100%; 
        max-width: 700px; 
        height: 800px; 
        padding-left: 20px;
        padding-top: 150px;
        padding-right: 50px;
        margin:0;
    }

   
    .image-text {
        position: static;
        padding: 15px;
        text-align: center;
        padding-bottom: 2px;
    }

    .gallery {
        margin: 2px 0;
        padding-top: 2px;

    }

    .image-grid img {
        width: 100%; 
        height: 200px; 
        object-fit: cover; 
    }

    footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact-details, .address {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .container {
        padding: 15px; 
    }

    .center-image {
        padding-top: 120px; 
    }

    .image-text {
        font-size: 16px; 
        bottom: 15px; 
    }
}
